SITE_URL=https://natolli.vercel.app
MERCADO_PAGO_ACCESS_TOKEN=APP_USR_SEU_ACCESS_TOKEN_AQUI
NEXT_PUBLIC_SUPABASE_URL=https://okflipyzwrvazcmobdxt.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_8coVRaNl6hbTm4gyTugayw_XtVGKvZH
SUPABASE_SERVICE_ROLE_KEY=COLE_A_SERVICE_ROLE_KEY_APENAS_NO_SERVIDOR
ADMIN_EMAILS=admin@natolli.com
